body {
  width: 90%;
  margin: 0 auto;
  background: silver;
  font-family: 'Coiny', sans-serif;
}

header {
  margin: 10px 10vw 5vw;
  
}

a {
  color: slateblue;
  text-decoration: none;
}

h1 {
  font-size: 40px;
  text-align: center;
  margin: 20px;
}

select {
  padding: 5px;
  font-size: 20px;
  background-color: darkmagenta;
  color: white;
  border: inset 3px silver;
  border-radius: 5px;
}

select:hover {
  background-color: palevioletred;
  color: skyblue;
}

main {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
}

#photo-template {
  display: none;
}

div {
  width: 25vw;
  min-width: 250px;
  padding: 1vw;
  border: rgb(255, 240, 158) outset 3px;
  border-radius: 5px;
  background-color: rgb(255, 240, 158);
  margin: 0 10px 3vw;
}

img {
  width: 100%;
  margin: 1vw 0;
  border: rgb(255, 240, 158) inset 3px;
  border-radius: 5px;
}